@import url('clash-display.css');

body {
    background-color: black;
}
header {
    display: flex;
    justify-content: space-between;
}

nav {
    justify-content: space-evenly;
    flex-grow: 1;
}

.logo {
    max-width: 300px;
}

h1, h2 {
    font-family: ClashDisplay-Light, sans-serif;
    color: gold;
    font-size: large;
}

caption {
    font-family: ClashDisplay-Regular, sans-serif;
    color: gold;
    font-size: large;
}

p {
    font-family: ClashDisplay-Variable, sans-serif;
    color: gold;
    font-size: large;
}

a {
    font-family: ClashDisplay-Extralight, sans-serif;
    color: gold;
    font-size: large;
}

form {
    font-family: ClashDisplay-Variable, sans-serif;
    color: gold;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gold;
    text-align: center;
}

thead th:nth-child(1) {
    width: min-content;
    text-align: start;
    word-wrap: break-word;
}

thead th:nth-child(2) {
    width: min-content;
    word-wrap: break-word;
}

thead th:nth-child(3) {
    width: min-content;
    word-wrap: break-word;
}

thead th:nth-child(4) {
    width: min-content;
    word-wrap: break-word;
}

thead th:nth-child(5) {
    width: min-content;
    word-wrap: break-word;
}

thead th:nth-child(6) {
    width: min-content;
    word-wrap: break-word;
}

th, td {
    font-family: ClashDisplay-Extralight, sans-serif;
    font-size: 1.25vw;
    color: gold;
    padding: 20px;
    word-wrap: break-word;
}

.fb-example {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}