<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
    <body class="about">
        <nav>
            <a class="logo" href="index.html"><img src="/logo_clear_small.png" alt="Inc Logo" class="logo"></a>
            <h1>carryOn</h1>
            <div class="navigation">[to be inserted dynamically]</div>
        </nav>
        <header class="about">
            <h1>who we are...</h1>
            <img src="/aboutBackground.png" class="about-header" alt="travel documents">
        </header>
        <div class="staff">
            <img src="/blue_backpack.png" alt="blue backpack">
            <img src="/teal_fanny.png" alt="teal fanny pack">
            <img src="/green_duffel.png" alt="green duffel">
            <div class="bio">
                <p>[name]</p>
                <p>[description]</p>
            </div>
            <div class="bio">
                <p>[name]</p>
                <p>[description]</p>
            </div>
            <div class="bio">
                <p>[name]</p>
                <p>[description]</p>
            </div>
            <img src="/blue_roller.png" alt="blue roller bag">
            <img src="/leather_handbag.png" alt="leather handbag">
            <img src="/purple_messenger.png" alt="purple messenger bag">
            <div class="bio">
                <p>[name]</p>
                <p>[description]</p>
            </div>
            <div class="bio">
                <p>[name]</p>
                <p>[description]</p>
            </div>
            <div class="bio">
                <p>[name]</p>
                <p>[description]</p>
            </div>
        </div>
    </body>
</html>