<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="about">
<nav>
    <div class="logo">
        <a class="logo" href="index.html"><img src="../static/logos/logo_clear_small.png" alt="Inc Logo"></a>
        carryOn
    </div>
    <div class="navigation">[to be inserted dynamically]</div>
</nav>
<h1>who we are...</h1>
<img src="../static/backgrounds/about_us_clear.png" alt="travel documents" class="about">
</body>
<div class="staff">
    <img src="../static/luggage/blue_backpack.png" alt="blue backpack">
    <img src="../static/luggage/teal_fanny.png" alt="teal fanny pack">
    <img src="../static/luggage/green_duffel.png" alt="green duffel">
    <div class="bio">
        <p>[name]</p>
        <p>[description]</p>
    </div>
    <div class="bio">
        <p>[name]</p>
        <p>[description]</p>
    </div>
    <div class="bio">
        <p>[name]</p>
        <p>[description]</p>
    </div>
    <img src="../static/luggage/blue_roller.png" alt="blue roller bag">
    <img src="../static/luggage/leather_handbag.png" alt="leather handbag">
    <img src="../static/luggage/purple_messenger.png" alt="purple messenger bag">
    <div class="bio">
        <p>[name]</p>
        <p>[description]</p>
    </div>
    <div class="bio">
        <p>[name]</p>
        <p>[description]</p>
    </div>
    <div class="bio">
        <p>[name]</p>
        <p>[description]</p>
    </div>
</div>
</html>