<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Information</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="auction">
    <!--  background of arrival or departure city dynamically generated?  -->
    <img src="../static/backgrounds/flight.jpg" class="auction" alt="flying airplane">
    <nav>
        <div class="logo">
            <a class="logo" href="index.html"><img src="../static/logos/logo_clear_small.png" alt="Inc Logo"></a>
            carryOn
        </div>
        <div class="navigation">[to be inserted dynamically]</div>
    </nav>
    <header>[dynamically generated - airline logo and name of airline]</header>
    <h2>Flight::</h2>
    <main class="auction_top">
        <section class="auction">
            <p>[departure city]</p>
            <p>[departure airport]</p>
            <p>[departure time]</p>
            <p>[departure terminal]</p>
        </section>
        <section class="auction">
            <p>[departure date]</p>
            <p>[flight number]</p>
            <p>[flight duration]</p>
            <p>[airplane type]</p>
        </section>
        <section class="auction">
            <p>[arrival city]</p>
            <p>[arrival airport]</p>
            <p>[arrival time]</p>
            <p>[arrival terminal]</p>
        </section>
    </main>
    <h2>Auction:</h2>
    <main class="auction_bottom">
        <section class="auction">
            <p>[seller name]</p>
            <p>[successful sales]</p>
            <p>[reputation]</p>
            <p>[profile link]</p>
            <p>[contact link</p>
        </section>
        <section class="auction">
            <p>[current/starting price]</p>
            <p>[number of bids - ending date time - time remaining]</p>
            <p>[purchase now]</p>
            <p>[bid]</p>
            <p>[track auction]</p>
        </section>
    </main>
</body>
</html>