<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="index">
    <nav>
        <div class="logo">
            <a class="logo" href="index.html"><img src="../static/logo_clear_small.png" alt="Inc Logo"></a>
            carryOn
        </div>
        <div class="navigation">[to be inserted dynamically]</div>
    </nav>
    <img src="../static/rainbow.gif" alt="rainbow overhead compartment" class="index">
    <header class="index">Travelling light...on your wallet!</header>
    <h1 class="index">[insert unique selling proposition (USP)]</h1>
    <h2 class="index">[insert benefits of what is being offered
perhaps a before/after testimonial]</h2>
</body>
</html>